{% extends "todo_app/base.html" %}

{% block title %}
  ABOUT PAGE
{% endblock title %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><center>TO-DO LIST</center></h1>
    <p class="col-md-8 fs-4"><center>
      <p>In our daily lives, managing tasks, staying productive, and maintaining effective time management require a powerful planning tool. This is where the To-Do List application comes into play!</p>
      
      <p>This application provides a simple yet powerful platform where users can easily add, edit, and mark completed tasks. Designed with a user-friendly interface, it offers an effective task management system that helps you stay organized and in control of your workload.</p>
      
      <p>Key Features:</p>
      <p>Add Tasks: Easily add new tasks to your daily to-do list.</p>
      <p>Update and Edit Tasks: Modify or update existing tasks as needed.</p>
      <p>Mark Tasks as Complete: Mark tasks as completed and remove them from the list.</p>
      <p>User Login: Manage your personal tasks by logging into your account.</p>
      <p>Easy to Use: With its simple and intuitive design, it’s accessible for everyone.</p>
      <p>With this application, you can easily manage your to-do list and use your time more efficiently. It’s the perfect tool to organize your daily tasks and stay productive.<p/></center></p>
    <div class= "text-center"> 
      <button type="button" class="btn btn-outline-success">Create To-Do List</button>
    </div>
  </div>
</div>
{% endblock content %}