{% extends "todo_app/base.html" %}

{% block title %}
  HOME PAGE
{% endblock title %}

{% block content %}

<style>
  .btn-fixed-size {
      min-width: 50px; /* Butonun minimum genişliği */
      width: 50px; /* Butonun sabit genişliği */
      height: 25px; /* Butonun sabit yüksekliği */
      font-size: 0.8rem; /* Buton üzerindeki yazı boyutu */
      padding: 0; /* Butonun iç boşluğunu kaldırmak için */
  }
</style>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold text-center">TO-DO LIST</h1>
    <p class="display-7 text-center">This is To-Do List for Python Django Web Development</p>
    <div class="text-center"> 
      <a class="btn btn-primary" href="{% url 'create' %}" role="button">Create New To-Do</a>    
    </div>
  </div>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">To-Do Name</th>
        <th scope="col">Priority</th>
        <th scope="col">Is Finished?</th>
        <th scope="col">Date and Time</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todo_list %}
        <tr {% if todo.finished %} class="table-success" {% endif %}>
          <td {% if todo.finished %} class="text-decoration-line-through" {% endif %}>{{ todo.title }}</td>
          <td>
            {% if todo.priority == 3 %}
              <span class="btn btn-danger btn-fixed-size">High</span>
            {% elif todo.priority == 2 %}
              <span class="btn btn-warning btn-fixed-size">Medium</span>
            {% else %}
              <span class="btn btn-success btn-fixed-size">Low</span>
            {% endif %}
          </td>
          <td>
            {% if todo.finished %}
            <a class="btn btn-success btn-fixed-size" href="{% url 'yes_finish' todo.id %}" role="button">Yes</a>
            {% else %}
              <a class="btn btn-warning btn-fixed-size" href="{% url 'no_finish' todo.id %}" role="button">No</a>
            {% endif %}
          </td>
          <td>{{ todo.date }}</td>
          <td><a class="btn btn-danger btn-fixed-size" href="{% url 'delete' todo.id %}" role="button">Delete</a></td>
          <td><a class="btn btn-info btn-fixed-size" href="{% url 'update' todo.id %}" role="button">Update</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
