{% extends "todo_app/base.html" %}

{% block title %}
    {{ todo.title }} Detaylar
{% endblock title %}

{% block content %}
<style>
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }

  .content-box {
    text-align: center;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
</style>

<div class="centered-container">
  <div class="content-box">
    <h2>{{ todo.title }}</h2>
    <p><strong>Description:</strong> {{ todo.description }}</p>
    <p><strong>Priority:</strong> {{ todo.get_priority_display }}</p>
    <p><strong>Due Date:</strong> {{ todo.due_date|date:"Y-m-d H:i" }}</p>
    <p><strong>Is Finished?:</strong> 
        {% if todo.finished %}
          Yes
        {% else %}
          No
        {% endif %}
      </p>

    {% if todo.files.all %}
      <p><strong>Attached Files:</strong></p>
      <ul>
        {% for file in todo.files.all %}
          <li><a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p><strong>Attached Files:</strong> No files uploaded.</p>
    {% endif %}

    <a href="{% url 'index' %}" class="btn btn-primary">Return to Task List</a>
  </div>
</div>
{% endblock content %}
